<div="container">

<form action="/signup" method="post">
  Username: <input type="text" placeholder="username" name="username">
  Handle: <input type="text" placeholder="what other people will see" name="handle">
  Password: <input type="password" placeholder="password" name="password">
  <input type="submit" value="Sign-up!">
</form>


</div>
