<div="container">

<form action="/signup" method="post">
  Username: <input type="text" placeholder="username" name="username">
  Password: <input type="text" placeholder="password" name="password">
  <input type="submit" value="Sign-up!">
</form>




</div>
