<h1 id="title"><%= @user.username %></h1>
<ol>
  <% @user.reviews.each do |review| %>
  <% shoes = Shoe.where(id: review.shoe_id) %>
  <% shoes.each do |shoe| %>
<li><a href='../shoes/<%= shoe.id %>'><%= shoe.brand + ": " + shoe.model%></a></li>
<%= review.message %><br><br>
<% end %>
<% end %>
</ol>

